body{
    background-color: black;
}
#turajoy1{
    font-size: 25px;
    color:gold ;
}
.pac{
    color: gold;
}
.li1{
    color: gold;
}
.li2{
    color: gold;
}
.li3{
    color: gold;
}
.ol1{
    color: gold;
}